#container{
    height: calc(100vh  - 110px);
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    background: repeating-linear-gradient(
        0deg,
        #79a0e3 0px,
        #79a0e3 10px,
        #668cd7 10px,
        #668cd7 50px,
        #79a0e3 50px,
        #79a0e3 60px
    );
}

app-foto-pokemon{
    margin-left: 100px;
    z-index: 2;
}

app-detalhe-pokemon{
    position: absolute;
    z-index: 1;
    left:-90vw;
    transition: 0.8s;
    &.aberto{
        left:0;
    }
}

#itensContainer{
    display: flex;
    flex-direction: column;
    gap:5px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;   
}